{% extends "homepage/base/base.html" %}


{% load static %}
{% block content %}
{% include "homepage/elements/hero.html" %}

  <main id="main">
    
    {% include "homepage/elements/about.html" %}
    {% include "homepage/elements/features.html" %}

    {% comment %} {% include "homepage/elements/values.html" %} {% endcomment %}
    {% comment %} {% include "homepage/elements/counts.html" %} {% endcomment %}
    {% comment %} {% include "homepage/elements/services.html" %} {% endcomment %}
    {% comment %} {% include "homepage/elements/pricing.html" %} {% endcomment %}
    {% comment %} {% include "homepage/elements/faq.html" %} {% endcomment %}
    {% comment %} {% include "homepage/elements/portfolio.html" %} {% endcomment %}
    {% comment %} {% include "homepage/elements/testimonials.html" %} {% endcomment %}
    {% comment %} {% include "homepage/elements/team.html" %} {% endcomment %}
    {% comment %} {% include "homepage/elements/clients.html" %} {% endcomment %}
    {% comment %} {% include "homepage/elements/blog.html" %} {% endcomment %}
    {% include "homepage/elements/contact.html" %}


  </main><!-- End #main -->
  {% endblock content %}
