{% load static %}

  <!-- ======= expo Section ======= -->
  <section id="expo" class='expo d-flex align-items-center'>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-8">
                <h1>Thanks for coming to see us! </h1>
                <h2>We're excited to work with you!</h2>
            </div>
        </div>
        <div class="row">

            <div class=" col-lg-6 py-5 py-lg-0 order-2 order-lg-1" data-aos="fade-left">
                <div class="row ">
                    <div class="col-5"><img src="{% static 'assets/img/DFS_noBG.png' %}" alt="" class="img-fluid float-left"></div>
                    <div class="col-2">

                        <h1>@</h1>
                    </div>
                    <div class="col-5"><img src="{% static 'assets/img/expo_logo.png' %}" alt="" class="img-fluid float-right"></div>
                </div>
                <br>

                {% comment %} <a href="#" class="lightbox-trigger btn-get-started" title="Open Lightbox">Let's make your visions come true.</a> {% endcomment %}
                <div class="row justify-content-center">
                    <div class="col-6"><a href="/" class="contact-form-trigger btn-get-started" title="Your Title">Click to Load HTML Content</a></div>
                </div>

            </div>

            <div class="col-lg-6 order-1 order-lg-2" data-aos="fade-right">

                  <!-- ======= Portfolio Section ======= -->
    <section id="portfolio" class="portfolio">


        <a href="https://www.youtube.com/embed/tMA8I0R4Vyg" data-gallery="portfolioGallery" class="portfokio-lightbox">
            <div class="portfolio-item filter-card">
                    <div class="portfolio-wrap">
                <img src="{% static 'assets/img/portfolio/portfolio-7.jpg' %}" class="img-fluid" alt="">
                <div class="portfolio-info">
                  <h4>Card 1</h4>
                  <p>Card</p>
                  {% comment %} <div class="portfolio-links">
                    <i class="bi bi-plus"></i>
                    <a href="portfolio-details.html" title="More Details"><i class="bi bi-link"></i></a>
                  </div> {% endcomment %}
                </div>
              </div>
            </div>
        </a>

  <!-- Hidden section that you want to display in the lightbox -->
<div id="lightbox-content" style="display: none;">
    <!-- Your content goes here -->
    <h2>This is the content you want to display in the lightbox</h2>
    <p>Any other HTML content can go here.</p>
  </div>


      </section><!-- End Portfolio Section -->

                {% comment %} <iframe width="560" height="315" src="https://www.youtube.com/embed/tMA8I0R4Vyg?si=mUBSDRjRvQLOpgpE" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe> {% endcomment %}
                <!--<img src="{% static 'assets/img/expo-img.png' %}" class="img-fluid" alt="">-->
            </div>

        </div>   <!-- End Row -->


    </div>  <!-- End container -->

  </section>

  <!-- End expo -->