{% load static %}

<!-- ======= expo Section ======= -->
<section id="expo" class="expo d-flex align-items-center">
    {% for info in expo_info %}

    <div class="container">
        <div class="row justify-content-center desktop-switch">
            <div class="col-8 jutify-content-center">
                <h1>{{info.page_title}}</h1>
            </div>
        </div>
        <div class="row justify-content-center">
            <div
                class="col-lg-6 py-5 py-lg-0 order-lg-1 order-sm-1"
                data-aos="fade-left">

                    <div class="desktop-switch">
                        <br /><br />
                    </div>

                    <div class="row justify-content-center">
                        <div class="col-10">
                            <img
                                src="{{info.image.url}}"
                                alt=""
                                class="img-fluid float-left" />
                        </div>

                    </div>
                    <br />

                    <br />
                    <div class="row justify-content-center">
                        <div class="col-7">
                            <div class="desktop-switch">
                                <a
                                    href="{% url 'expo_form' %}"
                                    data-glightbox="width: 767; height: 1000;"
                                    class="form-lightbox btn-get-started"
                                    title="Your Title"
                                    >{{info.button}}</a
                                >
                            </div>
                            <div class="mobile-switch">
                                <a
                                href="{% url 'expo_form' %}"
                                data-glightbox="width: 767; height: 1000;"
                                class="form-lightbox btn-get-started"
                                title="Your Title"
                                >Expo NW Offer!</a
                                >
                            </div>
                        </div>
                    </div>
            </div>

            <div
                id="exponw"
                class="col-lg-6 order-lg-2 order-sm-2 exponw desktop-switch"
                data-aos="fade-right">

                <div class="row justify-content-center">
                    <div class="col-12">
                        {% comment %} <h1>{{info.video_title}}</h1> {% endcomment %}
                    </div>
                </div>
                {% comment %} href="https://www.youtube.com/embed/tMA8I0R4Vyg" {% endcomment %}
                <a
                    href="{{info.video_link}}"
                    data-gallery="exponwGallery"
                    class="exponw-lightbox">
                    <div class="exponw-item filter-card">
                        <div class="exponw-wrap">
                            <img
                                src="{% static 'assets/img/dfs_thumbnail.png' %}"
                                class="img-fluid"
                                alt="" />
                            <div class="exponw-info">
                                <h4>{{info.video_title}}</h4>
                                <p>{{info.video_subtitle}}</p>
                            </div>
                        </div>
                    </div>
                </a>
                {% comment %} <h2>{{info.video_subtitle}}</h2> {% endcomment %}
            </div>
            <div class="mobile-switch" data-aos='fade-right'>
                <div class="row justify-content-center">
                    <div class="col-8">
                        <a
                            href="{{info.video_link}}"
                            data-gallery="exponwGallery"
                            class="form-lightbox btn-get-started"
                            title="Your Title"
                            >View our video</a
                        >
                    </div>
                </div>
            </div>
        </div>
        <!-- End Row -->

    </div>
    <!-- End container -->

    {% endfor %}
</section>
<!-- End expo -->
