{% load static %}
<!-- ======= expo_form Section ======= -->
<section id="expo_form" class="expo_form">
    <div class="container" data-aos="fade-up">

        <header class="section-header">
            {% comment %} <h2>expo_form</h2> {% endcomment %}
            <p>We look forward to working with you</p>
        </header>

        <div class="row gy-4">
            <div class="col-lg-2"></div>
            <div class="col-lg-8">
                <form
                    action="{% url 'expo_form' %}"
                    method="post"
                    class="php-email-form">
                    {% csrf_token %}
                    <div class="row gy-4">

                        <div class="col-md-6">
                            <input
                                type="text"
                                name="name"
                                class="form-control"
                                placeholder="Your Name"
                                required />
                        </div>

                        <div class="col-md-12">
                            <select name="package" class="form-control" required>
                                <option value="" disabled selected>Select Desired Expo Package</option>
                                <option value="D/M Report">Demo/Merchandising Report</option>
                                <option value="PEA">Promotion Efficacy Analysis</option>
                            </select>
                        </div>

                        <div class="col-md-6">
                            <input
                                type="email"
                                class="form-control"
                                name="email"
                                placeholder="Your Email"
                                required />
                        </div>

                        <div class="col-md-12">
                            <input
                                type="text"
                                class="form-control"
                                name="company"
                                placeholder="Your Company"
                                required />
                        </div>

                        <div class="col-md-12">
                            <input
                                type="text"
                                class="form-control"
                                name="phone"
                                placeholder="Your Phone Number"
                                required />
                        </div>

                        <div class="col-md-12 text-center">
                            {% comment %}
                            <div class="loading">Loading</div>
                            <div class="error-message"></div>
                            {% endcomment %}
                            <div class="sent-message">
                                Your message has been sent. Thank you!
                            </div>

                            <button type="submit">Submit your form</button>
                        </div>
                    </div>
                </form>
            </div> {% comment "end form col" %}{% endcomment %}
            <div class="col-lg-2"></div>
        </div> {% comment "end row main" %}{% endcomment %}
    </div> {% comment "end container" %}{% endcomment %}
</section>
<!-- End expo_form Section -->
