{% load static %}
   <!-- ======= Features Section ======= -->
   <section id="features" class="features">
    <div class="container" data-aos="fade-up">
      {% if homepage.services %}
      {% for service in services %}
      <header class="section-header">
        {% comment %} <h2></h2> {% endcomment %}
        <p>{{service.services_tag}}</p>
      </header>

      <div class="row justify-content-center">

        <div class="col-lg-6 mobile-switch order-lg-1 order-sm-1">
          <img src="../../../static/assets/img/dfs_flow_down.png" class="img-fluid" alt="">
        </div>

        <div class="col-lg-6 desktop-switch order-lg-1 order-sm-1">
          <img src="{{service.services_image.url}}" class="img-fluid" alt="">
        </div>

        <div class="col-lg-6 mt-5 mt-lg-0 d-flex order-lg-2 order-sm-2">
          <div class="row align-self-center gy-4">

            <div class="col-md-6" data-aos="zoom-out" data-aos-delay="200">
              <div class="feature-box d-flex align-items-center">
                <i class="bi bi-check"></i>
                <h3>{{service.services_1}}</h3>
              </div>
            </div>

            <div class="col-md-6" data-aos="zoom-out" data-aos-delay="300">
              <div class="feature-box d-flex align-items-center">
                <i class="bi bi-check"></i>
                <h3>{{service.services_2}}</h3>
              </div>
            </div>

            <div class="col-md-6" data-aos="zoom-out" data-aos-delay="400">
              <div class="feature-box d-flex align-items-center">
                <i class="bi bi-check"></i>
                <h3>{{service.services_3}}</h3>
              </div>
            </div>

            <div class="col-md-6" data-aos="zoom-out" data-aos-delay="500">
              <div class="feature-box d-flex align-items-center">
                <i class="bi bi-check"></i>
                <h3>{{service.services_4}}</h3>
              </div>
            </div>

            <div class="col-md-6" data-aos="zoom-out" data-aos-delay="600">
              <div class="feature-box d-flex align-items-center">
                <i class="bi bi-check"></i>
                <h3>{{service.services_5}}</h3>
              </div>
            </div>

            <div class="col-md-6" data-aos="zoom-out" data-aos-delay="700">
              <div class="feature-box d-flex align-items-center">
                <i class="bi bi-check"></i>
                <h3>{{service.services_6}}</h3>
              </div>
            </div>

          </div>
        </div>

      </div> <!-- / services row -->
      {% endfor %}
      {% endif %}
      {% if homepage.tabs %}
      {% for tab in tabs %}
      <!-- Feature Tabs -->
      <div class="row feture-tabs" data-aos="fade-up">
        <div class="col-lg-6 order-lg-1 order-sm-2">
          <h3>{{tab.tabs_title}}</h3>

          <!-- Tabs -->
          <ul class="nav nav-pills mb-3">
            <li>
              <a class="nav-link active" data-bs-toggle="pill" href="#tab1">{{tab.tabs_tab1}}</a>
            </li>
            <li>
              <a class="nav-link" data-bs-toggle="pill" href="#tab2">{{tab.tabs_tab2}}</a>
            </li>
            {% if tab3 %}
            <li>
              <a class="nav-link" data-bs-toggle="pill" href="#tab3">{{tab.tabs_tab3}}</a>
            </li>
            {% endif %}
          </ul><!-- End Tabs -->

          <!-- Tab Content -->
          <div class="tab-content">

            <div class="tab-pane fade show active" id="tab1">
              <p>{{tab.tabs_tab1_text}}</p>
              <div class="d-flex align-items-center mb-2">
                <i class="bi bi-check2"></i>
                <h4>{{tab.tabs_tab1_bullet1}}</h4>
              </div>
              <p>{{tab.tabs_tab1_bullet_blurb1}}</p>
              <div class="d-flex align-items-center mb-2">
                <i class="bi bi-check2"></i>
                <h4>{{tab.tabs_tab1_bullet2}}</h4>
              </div>
              <p>{{tab.tabs_tab1_bullet_blurb2}}</p>
              
              <div class="d-flex align-items-center mb-2">
                <i class="bi bi-check2"></i>
                <h4>{{tab.tabs_tab1_bullet3}}</h4>
              </div>
              <p>{{tab.tabs_tab1_bullet_blurb3}}</p>

            </div><!-- End Tab 1 Content -->

            <div class="tab-pane fade show" id="tab2">
              <p>{{tab.tabs_tab2_text}}</p>
              <div class="d-flex align-items-center mb-2">
                <i class="bi bi-check2"></i>
                <h4>{{tab.tabs_tab2_bullet1}}</h4>
              </div>
              <p>{{tab.tabs_tab1_bullet_blurb1}}</p>
              <div class="d-flex align-items-center mb-2">
                <i class="bi bi-check2"></i>
                <h4>{{tab.tabs_tab2_bullet2}}</h4>
              </div>
              <p>{{tab.tabs_tab1_bullet_blurb2}}</p>
              <div class="d-flex align-items-center mb-2">
                <i class="bi bi-check2"></i>
                <h4>{{tab.tabs_tab2_bullet3}}</h4>
              </div>
              <p>{{tab.tabs_tab1_bullet_blurb3}}</p>
            </div><!-- End Tab 2 Content -->

            {% if tab3 %}
            <div class="tab-pane fade show" id="tab3">
              <p>{{tab.tabs_tab3_text}}</p>
              <div class="d-flex align-items-center mb-2">
                <i class="bi bi-check2"></i>
                <h4>{{tab.tabs_tab3_bullet1}}</h4>
              </div>
              <p>{{tab.tabs_tab3_bullet_blurb1}}</p>
              <div class="d-flex align-items-center mb-2">
                <i class="bi bi-check2"></i>
                <h4>{{tab.tabs_tab3_bullet2}}</h4>
              </div>
              <p>{{tab.tabs_tab3_bullet_blurb2}}</p>
              
            </div><!-- End Tab 3 Content -->
            {% endif %}
          </div>
        </div>
        <br>
        <div class="col-lg-6 align-items-center order-lg-2 order-sm-1">
          <img style='width:100%;' src="{{tab.tabs_image.url}}" class="img-fluid p-4" alt="">
        </div>
      </div><!-- End Feature Tabs -->
      {% endfor %}
      {% endif %}
      {% if homepage.solutions %}
      {% for solution in solutions %}
      <!-- Feature Icons -->
      <div class="row feature-icons" data-aos="fade-up">
        <h3>{{solution.solutions_title}}</h3>
        <div class="row">
          <div class="col-xl-4 text-center" data-aos="fade-right" data-aos-delay="100">
            <img style='width:100%;' src="{{solution.solutions_image.url}}" class="img-fluid" alt="">
          </div>
          <br>
          <div class="col-xl-8 d-flex content">
            <div class="row align-self-center gy-4">
              {% for item in solution.solutions_items.all %}
              <div class="col-md-6 icon-box" data-aos="fade-up">
                <i class="ri-line-chart-line"></i>
                <div>
                  <h4>{{item.solutions_item}}</h4>
                  <p>{{item.solutions_item_blurb}}</p>
                </div>
              </div>
              {% endfor %}
            </div>
          </div>
        </div>
      </div><!-- End Feature Icons -->
      {% endfor %}
      {% endif %}
    </div>
  </section><!-- End Features Section -->
