{% load static %}
 
    <!-- ======= Values Section ======= -->
    <section id="values" class="values">

        <div class="container" data-aos="fade-up">
  
          <header class="section-header">
            <h2>Why choose us?</h2>
            <p> Accesible Insights and support<br>
              At every stage of your journey.</p>
          </header>
  
          <div class="row">
  
            <div class="col-lg-4" data-aos="fade-up" data-aos-delay="200">
              <div class="box">
                <img src="{% static 'assets/img/values-1.png' %}" class="img-fluid" alt="">
                <h3>Forecasting</h3>
                <p>Revenue, Trade Spend, Demand Planning, Inventory Management.</p>
              </div>
            </div>
  
            <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="400">
              <div class="box">
                <img src="{% static 'assets/img/values-2.png' %}" class="img-fluid" alt="">
                <h3>Sales Analytics</h3>
                <p>Velocities, Stores Selling, Points of Distribution, Promotion Efficacy, SKU Rationalization, Selling Stories, Category Management.</p>
              </div>
            </div>
  
            <div class="col-lg-4 mt-4 mt-lg-0" data-aos="fade-up" data-aos-delay="600">
              <div class="box">
                <img src="{% static 'assets/img/values-3.png' %}" class="img-fluid" alt="">
                <h3>Data Prep</h3>
                <p>Extract, Transform, Load, Clean, Align, Update.</p>
              </div>
            </div>
  
          </div>
  
        </div>
  
      </section><!-- End Values Section -->
  